.elementor-icon-box-icon {
    display: none !important;
}

.elementor-7820 .elementor-element.elementor-element-030807e .elementor-icon {
    font-size: 50px !important;
}

.elementor-icon i, .elementor-icon svg {
    width: 1em !important;
    height: 1em !important;
    position: relative !important;
    display: block !important;
}

.elementor-icon-box-icon {
    max-width: 40px !important;
    height: 40px !important;
}

.elementor-widget-wrap {
    width: 100% !important;
}

.elementor-widget-thhf-navigation-menu {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    flex-wrap: wrap !important;
}

.hfe-nav-menu-layout {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.hfe-menu-cart__toggle {
    display: none !important;
}

#menu-item-10980 {
    display: none !important;
}

#menu-item-12764 {
    display: none !important;
}

.sub-menu {
    display: none !important;
}

.BeaconFabButtonFrame {
    display: none !important;
}

.hfe-nav-menu-icon {
    display: none !important;
}

/* Mobile menu */
.special-mobile-menu {
    display: none !important;
}


/** ABOUT US PAGE **/
.platform-about-us-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #4054B2 !important;
    padding: 20px 50px !important;
    margin-bottom: 50px;
}

.platform-about-us-header > a > img {
    max-width: 130px;
}

.paltform-about-us-main {
    display: flex;
    flex-direction: column;
    padding: 20px 50px !important;
    justify-content: space-between;
    flex-wrap: wrap !important;
}

.paltform-about-us-main > section {
    width: 100% !important;
}

.platform-abour-us-bside-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.platform-abour-us-bside-box > img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
}

.platform-about-us-text-wrapper > h3 {
    margin: 0 !important;
    color: #4054B2;
}

.platform-about-us-text-wrapper > h4 {
    max-width: 70% !important;
}

.paltform-about-us-bside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.paltform-about-us-bside > div {
    width: 30% !important;
    min-width: 30% !important;
}

.paltform-about-us-aside {
    display: flex;
    margin-bottom: 50px !important;
}

.paltform-about-us-aside > div {
    width: 50% !important;
}

.paltform-about-us-aside > div > img {
    max-width: 100% !important;
}

.paltform-about-us-aside > div > h4 {
    max-width: 70% !important;
    font-size: 25px !important;
}

.paltform-about-us-aside > div > h2 {
    font-size: 50px;
    color: #4054B2;
}

/** Pricing page **/
.pricing-image-wrapper {
    display: flex;
    justify-content: center;
}

.pricing-image-wrapper > img {
    max-width: 100% !important;
}

.plans-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.plans-wrapper > div {
    border: 3px solid #4054B2;
    border-radius: 30px;
    min-height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.plans-wrapper > div:hover {
    transition: .5s;
    border: 3px solid #4054B2;
}

.plans-wrapper > div > h3 {
    font-size: 30px;
    margin: 0 !important;
    width: 100%;
    text-align: center;
    background-color: #4054B2;
    border-radius: 30px 30px 0px 0px;
    padding: 10px 0px;
    color: white;
}

.plans-wrapper > div > ul {
    box-sizing: border-box;
    width: 100% !important;
    padding: 0px 50px;
    list-style-type: square;
}

.plans-wrapper > div > ul > li {
    font-size: 20px;
    margin-bottom: 10px;
}

.plus-wrapper {
    font-size: 80px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #4054B2;
    margin: 0px 80px;
}

/* .fixed-fee-wrapper {
    margin-right: 150px;
} */

.FloatingButton__FloatingButtonContainer-sc-q5md4t-0 {
    margin-bottom: 80px !important;
}

.Window__WindowComponent-sc-1wwhwms-2 {
    margin-bottom: 150px !important;
}

@media (max-width: 1024px) {
    .paltform-about-us-main {
        flex-direction: column !important;
    }

    .paltform-about-us-main > section {
        width: 100% !important;
    }

    .paltform-about-us-aside > h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .paltform-about-us-aside {
        margin-bottom: 50px;
    }

    .paltform-about-us-bside > div {
        width: 100% !important;
        min-width: 100% !important;
    }

    .paltform-about-us-aside > div > h4 {
        font-size: 20px !important;
    }

    .paltform-about-us-aside > div > h2 {
        margin:  0 !important;
    }
}

@media (max-width: 776px) {
    .paltform-about-us-aside-image-wrapper{
        display: none !important;
    }

    .paltform-about-us-aside > div {
        max-width: 100% !important; 
        width: 100% !important;
    }

    .paltform-about-us-aside > div > h4 {
        max-width: 100% !important;
    }

    /* .fixed-fee-wrapper {
        margin-right: 0px !important;
        margin-bottom: 100px;
    } */

    .plans-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px !important;
    }

    .plus-wrapper {
        margin: 80px 0px !important;
    }

}

@media (max-width: 576px) {
    .hfe-menu-item {
        display: none !important;
    }

    .hfe-nav-menu-icon {
        display: block !important;
    }

    .special-mobile-menu {
        position: fixed;
        height: 100vh !important;
        min-width: 100% !important;
        display: none !important;
        justify-content: center !important;
        left: 0 !important;
        top: 40px !important;
        right: 0px !important;
        background-color: white !important;
        z-index: 10;
    }
    
    .special-mobile-menu-active {
        display: flex !important;
    }
    
    .special-mobile-menu > ul {
        display: flex !important;
        flex-direction: column !important;
        list-style-type: none !important;
        text-align: center !important;
        background-color: white !important;
        padding: 40px 10px !important;
    }
    
    .special-mobile-menu > ul > a > li {
        margin: 15px 0px;
        font-size: 16px;
    }

    .shopshop-logo-white {
        display: none !important;
    }

    .platform-abour-us-bside-box > img {
        display: none;
    }

    .paltform-about-us-aside > h4 {
        max-width: 100% !important;
    }

    .platform-about-us-text-wrapper > h4 {
        max-width: 100% !important;
    }

    .plans-wrapper > div {
        width: 100% !important;
    }
}